body {
  background-color:  rgb(236,230,214) !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-bar {
  background-color: rgb(236,230,214) !important;
}



.trip-btn {
  float: right;
  font-size: small;
  display: inline-block
}

.home-page-header {
  background-image: url('../src/homepage.jpeg');
  height: 40vw;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0%;
}

.main-icon {
  border: none !important;
}

h1.ui.header {
  color: white;
  margin-top: 4em !important;
  font-size: 60px!important;
}

.park-title {
  color: white !important;
  margin-top: 4em !important;
  font-size: 60px!important;
  line-height: 60px !important;
}

.map-div {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  position: relative !important;
  width: 150vw  !important;
  height: 40vh;
  
}

