body {
  background-color:  rgb(236,230,214) !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-bar {
  background-color: rgb(236,230,214) !important;
}



.trip-btn {
  float: right;
  font-size: small;
  display: inline-block
}

.home-page-header {
  background-image: url('../src/homepage.jpeg');
  height: 40vw;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 
}

.main-icon {
  border: none !important;
}
