body {
  background-color:  rgb(236,230,214) !important;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code { */
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
/* } */

.nav-bar {
  background-color: rgb(236,230,214) !important;
  font-family: 'Oxygen', sans-serif !important;
}

.ui.menu {
  background: rgb(236,230,214) !important;
  border: none !important;
}
::placeholder {
  color: rgb(188,166,110);
  font-size: 1em;
}



.home-page-header {
  background-image: url('../src/homepage.jpeg');
  height: 40vw;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 1em;
}

.header-div {
  width: 100%;
  text-align: left;
  padding-top: 28%
}

.main-icon {
  border: none !important;
}

.main-title {
  color: lightgray;
  font-size: 60px;
  font-family: 'Cantarell', serif;
  margin-left: 8%;
}

.park-title {
  color: white !important;
  margin-top: 4em !important;
  font-size: 60px!important;
  line-height: 60px !important;
}

form.ui.form {
  font-family: 'Oxygen', sans-serif !important;
  padding: 10px, 5px 10px, 5px  !important;
}

/* LOGIN PAGE/SIGNUP PAGE */
.login-div {
    padding: 19px;
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    text-align: left;
}

.login-info, .header-info {
  margin-top: 10px;
  font-family: 'Oxygen', sans-serif !important;
}

.login-details {
  width: 250px;
  height: 30px;
  background: transparent;
  border: 0;
  color: black;
  border-radius: 5px;
  font-family: 'Oxygen', sans-serif;
  border-bottom: 2px dotted black
}

.login-details:focus { 
  outline: none;
  background: transparent;}

.styled-button {
  position: relative;
  margin-top: 5px;
  /* display: inline-block; */
  white-space: nowrap;
  background: transparent;
  border-radius: 5px;
  border: 02px solid #121212;
  border-width: 01px 01px 01px 01px;
  padding: 5px 10px 5px 10px;
  font-size: 1em;
  cursor: pointer;
}

.styled-button:focus { 
  outline-color: black !important;
}

.link-styling {
  font-family: 'Oxygen', sans-serif; 
    font-style: none;
    color: black ;
}

.link-styling:hover { font-style: italic;
  color: black }

  /* END LOGIN PAGE */

  /* TRIP CONTAINER STUFF */
  .wrapper-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
  }
  .trip-card-div {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 350px;
    margin: 10px;
    padding: 15px;
    justify-content: center;
  }

  .trip-card-img {
    width: 150px;
    height: 150px;
    border-radius: 70%;
    transition: all 0.5s ease-in-out 0s;
  }

  .trip-card-img:hover {
    transform: scale(1.05);
    border-radius: 20%;
    width: 215px;
    height: 215px;
  }

  /*  END TRIP CONTAINER STUFF */

  /* EDIT FORM/NEW TRIP FORM */
.edit-info {
  margin-left: 10px ;
  font-family: 'Oxygen', sans-serif !important;
  letter-spacing: 0.1em;
  text-align: center  !important;

}

.edit-form-div {
    /* display: flex;
    flex-direction: column; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    text-align: left;
    padding: 10px 20px 5px 5px  !important;
}



.hr-line {
  border-top: 2px solid rgb(171,188,110);
  /* border-top: 1px dashed black; */
  margin-right: 80px;
  margin-left: 80px;
 }

  .hr-line-two {
    border-top: 3px solid rgb(188,166,110);
  /* border-top: 1px dashed black; */
  margin-right: 80px;
  margin-left: 80px;
  }

  .btn-danger {
    /* float: left; */
    /* position: relative; */
    /* display: block; */
    white-space: nowrap;
    background: transparent;
    border-radius: 5px;
    border: 02px solid #121212;
    border-width: 01px 01px 01px 01px;
    padding: 5px 10px 5px 10px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 6px;
    transition: all 0.5s ease-in-out 0s;
  }

  .btn-danger:hover {
    transform: scale(1.05);
    background: lightgray;

  }

  .submit-button {
    /* display: block;
    position: relative;
    float: left; */
    margin-top: 5px;
    white-space: nowrap;
    background: transparent;
    border-radius: 5px;
    border: 02px solid #121212;
    border-width: 01px 01px 01px 01px;
    padding: 5px 10px 5px 10px;
    font-size: 1em;
    cursor: pointer;
    margin-left: 6px;
  }

  .new-trip-button {
    float: right;
    position: relative;
    margin-top: 5px;
  /* display: inline-block; */
    white-space: nowrap;
    background: transparent;
    border-radius: 5px;
    border: 02px solid #121212;
    border-width: 01px 01px 01px 01px;
    padding: 5px 10px 5px 10px;
    font-size: 1em;
    cursor: pointer;
  }

  .form-input {  
    width: 30%;
    background-color:  rgb(236,230,214);
    border: 0;
    color: black;
    border-radius: 0px;
    font-family: 'Oxygen', sans-serif;
    border-bottom: 2px dotted black;
    margin-top: 10px;
    margin-bottom: 10px
  }

  .form-input:focus { 
    outline: none;
    background: transparent;
    /* border-bottom: 3px dotted black; */
  }

    .form-input-long {  
      width: 70%;
      background-color:  rgb(236,230,214);
      border: 0;
      color: black;
      border-radius: 0px;
      font-family: 'Oxygen', sans-serif;
      border-bottom: 2px dotted black;
      margin-top: 10px;
      margin-bottom: 10px
    }

    .form-input-long:focus { 
      outline: none;
      background: transparent;
      /* border-bottom: 3px dotted black; */
      }

    .form-input-img {
      margin-top: 10px
    }
 /* END EDIT FORM/NEW TRIP FORM */

  .dashboard-div {
    margin-top: 20px;
    font-family: ''Cantarell', serif;'
  }

.map-div {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  position: relative !important;
  width: 150vw  !important;
  height: 40vh;
  
}


